

<div id="menu">
    <h2>Introduction</h3>
    <ul>
        <li><a href="{{ site.url }}/index.html">Home</a></li>
        <li><a href="{{ site.url }}/command_line.html">Command line</a></li>
        <li><a href="{{ site.url }}/installation_osx.html">Software Installation - Mac</a></li>
        <li><a href="{{ site.url }}/installation_windows.html">Software Installation - Windows</a></li>
        <li><a href="{{ site.url }}/dev_environment.html">Development environment</a></li>
    </ul>
</div>


