

<div id="menu">
    <h2>Introduction</h3>
    <ul>
        <li><a href="{{ site.url }}/index.html">Home</a></li>
        <li><a href="{{ site.url }}/command_line.html">Command line</a></li>
    </ul>
    <h2>Mac</h2>
    <ul>
        <li><a href="{{ site.url }}/installation_mac.html">Software Installation</a></li>
        <li><a href="{{ site.url }}/java_version_mac.html">Java version</a></li>
        <li><a href="{{ site.url }}/classpath_mac.html">Java libraries and CLASSPATH</a></li>
    </ul>
    <h2>Windows</h2>
    <ul>
        <li><a href="{{ site.url }}/installation_windows.html">Software Installation</a></li>
    </ul>
</div>


