
<div class="trigger">
    <a class="page-link" href="{{ "/hello" | relative_url }}">Hello</a>
    <a class="page-link" href="{{ "/about" | relative_url }}">About</a>
    <hr/>
    <a class="page-link" href="{{ "/setup/command_line" | relative_url }}">Command Line</a>
    <a class="page-link" href="{{ "/setup/installation_mac" | relative_url }}">Installation - Mac</a>
    <a class="page-link" href="{{ "/setup/installation_windows" | relative_url }}">Installation - Windows</a>
    <a class="page-link" href="{{ "/setup/java_version" | relative_url }}">Java version</a>
    <a class="page-link" href="{{ "/setup/classpath" | relative_url }}">Java libraries and CLASSPATH</a>
</div>
         
